<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VvvfSimulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VvvfSimulator.Properties.Settings>
            <setting name="RealTime_VVVF_BuffSize" serializeAs="String">
                <value>32768</value>
            </setting>
            <setting name="RealTime_VVVF_WaveForm_Line_Show" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime_VVVF_EditAllow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime_Train_BuffSize" serializeAs="String">
                <value>32768</value>
            </setting>
            <setting name="RealTime_Train_EditAllow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime_Train_WaveForm_Line_Show" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime_VVVF_Control_Show" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime_Train_Control_Show" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime_VVVF_Control_Style" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RealTime_Train_Control_Style" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RealTime_VVVF_Control_Language" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RealTime_Train_Control_Language" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RealTime_VVVF_Hexagon_Show" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime_Train_Hexagon_Show" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime_VVVF_Hexagon_Style" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RealTime_Train_Hexagon_Style" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RealTime_VVVF_Hexagon_ZeroVector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RealTime_Train_Hexagon_ZeroVector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RealTime_VVVF_FFT_Show" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime_Train_FFT_Show" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime_Train_Control_Precise" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime_VVVF_Control_Precise" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime_VVVF_FS_Show" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime_Train_FS_Show" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime_Train_SoundVolume" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RealTime_VVVF_SoundVolume" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RealTimeMasconFrequencyChangeRate" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="RealTimeMasconAccelerateKey" serializeAs="String">
                <value>62</value>
            </setting>
            <setting name="RealTimeMasconBrakeKey" serializeAs="String">
                <value>66</value>
            </setting>
            <setting name="RealTimeMasconNeutralKey" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="RealtimeVvvfSamplingFrequency" serializeAs="String">
                <value>200000</value>
            </setting>
            <setting name="RealtimeTrainSamplingFrequency" serializeAs="String">
                <value>192000</value>
            </setting>
            <setting name="RealtimeVvvfCalculateDivision" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="RealtimeTrainCalculateDivision" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ColorTheme" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RealTime_VVVF_WaveForm_Phase_Show" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime_Train_WaveForm_Phase_Show" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime_VVVF_Controller_Style" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RealTime_Train_Controller_Style" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RealTime_VVVF_Controller_Design2_CalculatePrecision"
                serializeAs="String">
                <value>16384</value>
            </setting>
            <setting name="RealTime_Train_Controller_Design2_CalculatePrecision"
                serializeAs="String">
                <value>16384</value>
            </setting>
        </VvvfSimulator.Properties.Settings>
    </userSettings>
</configuration>